body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  
}

.input-group input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  background-color: white;
  color: black;
}

.input-group button {
  padding: 10px 16px;
  font-size: 16px;
  background: rgb(105, 151, 105);
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.input-group .clear-all {
  background: #dc3545;
}

.input-group button:hover {
  opacity: 0.9;
}

.search {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: white;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.history-item {
  position: relative;
  background: white;
  padding: 15px;
  border-radius: 8px;
  white-space: pre-wrap;
  color: black;
}

.history-item pre {
  margin-top: 10px;
  background: white;
  padding: 10px;
  white-space: pre-wrap;
  font-size: 14px;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #c00;
  cursor: pointer;
}